i {
    margin-left: 10%;
}

.head {
    text-align: center;
    background-color: #f1c27d;
    padding: 15px 0px;
}

.contain-one {
    margin-left: 7%;
    margin-right: 7%;
}

.name {
    font-weight: bold;
    color: black;
    margin-top: 5%;
}

.introduce {
    color: #808080;
    font-size: 20px;
    margin-top: 5%;
}

.mypic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    text-align: center;
    margin: 10%;
}

.image-two {
    margin-top: 2% !important;
}

.line {
    color: black;
    font-weight: bold;
}

.skills {
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: #f1c27d;
    width: 90px;
    padding-left: 5px;
    border-radius: 5px;
}

li {
    color: #808080;
}

.work-history {
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: #f1c27d;
    width: 200px;
    padding-left: 5px;
    border-radius: 5px;
}

/* .education {
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: #f1c27d;
    width: 150px;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 5%;
} */

/* .achievements {
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: #f1c27d;
    width: 210px;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 5%;
} */

/* .language {
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: #f1c27d;
    width: 170px;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 5%;
} */

/* progress {
    border: none;
    background: crimson;
} */

/* progress {
    color: #f1c27d;
} */

/* progress::-webkit-progress-value {
    background: #f1c27d;
} */

/* progress::-moz-progress-bar {
    background: lightcolor;
} */

/* .hobby{
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: #f1c27d;
    width: 130px;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 5%;
} */

/* .end-one{
    color: #808080;
    margin-top: 7% !important;
    font-size: 25px;
    text-align: center;
} */

/* .end{
    color: #808080;
    font-size: 25px;
    text-align: center;
} */

/* marquee{
    font-size: 35px;
    color: #808080;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-shadow: 0px 0px 8px #808080;
} */